.new-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.new-task-container h1{
    padding: 45px;
}

.content {
    width: 400px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h1 {
    text-align: center;
}

.title-form {
    margin-bottom: 20px;
}

.form-header {
    margin-bottom: 20px;
    background-color: #4B0082;
    height: 60px;
    display: flex;
    align-items: center;
}

.form-header h1 {
    color: #fff;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.back-link button {
    background-color: #DC143C;
    margin-top: 5px;   
    width: 360px; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.back-link button:hover {
    background-color: #dc1414;
}

.task-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.create-task-button {
    background-color: #1DB954;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.create-task-button:hover {
    background-color: #2a8f16;
}