.task-container {
      width: 100%;
}

.title {
  color: #fff;
  text-align: center;
  margin: 0;
  flex: 1;
}

.task-container header {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    background-color: #6495ed;
    align-items: center;
    padding-right: 20px;
  }
  
  .task-button {
    height: 45px;
    background-color: #F5F5F5;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
  }
  
  .task-button:hover {
    background-color: #ddd;
  }

  .logout-button {
    height: 45px;
    width: 90px;
    border-radius: 10px;
    background-color: #FF0000;
    color: #fff;
  }

  .logout-button:hover {
    background-color: #800000;
  }

  .list-title {
    margin-top: 10px;
  }

  .update-button {
    background-color: burlywood;
  }

  .delete-button {
    background-color: #DC143C;
  }